*{
  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

h1{
  font-size:50px;
  text-align:center;
  color:white;
}

p{
  text-align:center;
  color:white;
  font-size:20px;
  font-family: sans-serif;
  text-decoration: underline
}

body{
  background-color:#0066cc;
}

.wheel{
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #0066cc;
    background-size: cover;
}

.main{
position: relative;
width: 500px;
height: 500px;
}

.main:after{
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    background: url('/images/left-errow.png') no-repeat;
    background-size: 37px;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
}

.box{
width: 100%;
height: 100%;
position: relative;
border-radius: 50%;
border: 15px solid #ffdb4d;
overflow: hidden;
transition: all ease 3s;

}

span{
width: 50%;
height: 50%;
display: inline-block;
position: absolute;
}

.span1{
clip-path: polygon(0 92%, 100% 50%, 0 8%);
background-color: #003d99;
top: 120px;
left: 0;
}
.span2{
clip-path: polygon(100% 92%, 0 50%, 100% 8%);
background-color: #e6e6e6;
top: 120px;
right: 0;
}
.span3{
clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
background-color: #d580ff;
bottom: 0;
left: 120px;
}
.span4{
clip-path: polygon(50% 100%, 92% 0, 8% 0);
background-color: #ff0000;
top: 0;
left: 120px;

}


.box2{
width: 100%;
height: 100%;
transform: rotate(-135deg);
}
span b{
    font-family: 'Roboto Condensed', sans-serif;
width: 65px;
height: 65px;
line-height: 13px;
color: rgb(228, 226, 226);
font-size: 15px;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.spin{
    background-image:url("../images/alatoo-logo.png");
    background-size:69px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 10px 15px #000;

}

.spin:active{
    width: 75px;
    height: 75px;
    font-size: 20px;
}

.main.animate:after{
    animation: animateArrow 0.7s ease infinite;

}
